[defaults]
# Points to your inventory directory containing all campus sites.
# Instead of pointing to the folder, point to specific files or patterns
inventory = ./inventory/00_global_groups.yml, ./inventory/EMEA/LAB/lab_inventory.yml
# Ensures roles and collections are found
roles_path = ./roles
collections_path = ./collections

# 'forks' determines how many switches Ansible talks to at once
forks = 50
host_key_checking = False

[vars_global_vars]
# Allows you to use the global_vars directory if you use that plugin
paths = ./group_vars/
